@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #eee;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(0.46rem);
  height: 125%;
}

.navbar {
  padding-top: 0.2rem;
  z-index: 9999;
  height: 65px;
  background-color: #1b854a;
  position: relative;
}

.shadow-custom {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.25),
    0 3px 10px 3px rgba(0, 0, 0, 0.21) !important;
}

.menu-icon {
  display: none;
  border-color: #212529bb;
  margin-top: -1.15rem;
  margin-right: 5px;
  border-width: 2px;
  border-style: solid;
  border-radius: 8px;
}

.close-navbar-button {
  display: none;
}

.pressed {
  border-width: 3px;
  margin-right: 4px;
  padding: 0px;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 50px;
}

.nav-elements ul a {
  font-size: 1.43rem;
  font-weight: 500;
  border-radius: 11px;
  color: #f0f8ffcd;
  text-decoration: none;
  transition: 0.3s;
}

.active-link {
  font-size: 22px;
  border-radius: 11px;
  background-color: rgba(0, 0, 0, 0.197);
  font-weight: 500;
  text-decoration: none;
}

.padd {
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
  border-radius: 11px;
  transition: 0.3s;
}

.padd:hover {
  background-color: rgba(0, 0, 0, 0.197);
}

@media (max-width: 980px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 26px;
  }
}

@media (max-width: 890px) {
  .container {
    padding-top: calc(0.45rem + 5px);
  }

  .nav-elements ul a {
    font-size: 24px;
    font-weight: 500;
    border-radius: 11px;
    color: rgb(33, 37, 41);
    padding: 6px;
    text-decoration: none;
    transition: 0.3s;
  }

  .navbar {
    height: 70px;
    background-color: #1b854a;
  }

  .menu-icon {
    display: flex;
    cursor: pointer;
  }

  .close-navbar-button {
    display: block;
  }
  .close-navbar-button:hover {
    cursor: pointer;
  }

  .nav-elements {
    position: fixed;
    right: 0;
    top: 71px;
    background-color: rgb(168, 192, 180);
    width: 0px;
    height: 430px;
    transition: all 0.35s ease-out;
  }

  .nav-elements.active {
    width: 185px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 29px;
  }

  .nav-elements ul li {
    margin-right: 27px;
  }
}
